.heatmap-box {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .heatmap-box p {
      margin-bottom: 0px;
  }

  .heatmap-data {
      flex-direction: column;
      border: 1px solid grey;
  }